---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Contacto">
  <div class="mx-auto max-w-xl p-4">
    <p>
      Escribe un correo a <span
        class="whitespace-nowrap rounded bg-base-300 px-1 py-0.5"
        >ignacio.lara.v@usach.com</span
      > o <span class="rounded bg-base-300 px-1 py-0.5"
        >lucas.mesias@usach.cl</span
      > contándonos cómo quieres participar o qué ideas tienes!
    </p>
  </div>
</Layout>
