---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";

type Member = {
  name: string;
  link: string;
};

const members: Member[] = [
  { name: "René Cáceres", link: "https://github.com/panquequelol" },
	{name: "Ignacio Lara", link: "https://github.com/kappita"},
	{name: "Joaquín Saldivia", link: "https://github.com/Klefur"}
];
---

<Layout title="Open Source USACH">
  <Nav></Nav>
  <p class="instructions">
    Comunidad de estudiantes y amigos de la Universidad de Santiago de Chile,
    colaborando en proyectos open-source!
  </p>
  <section class="my-4">
    <h2 class="text-neutral-200 font-bold text-lg">
      Estamos trabajando en
    </h2>
    <ul class="my-2">
      <Card
        href="https://github.com/open-source-usach/internshipbot-api"
        title="InternshipBot"
        description="La manera más fácil de encontrar prácticas y primeros trabajos en Ingeniería de Software."
      />
      <Card
        href="https://github.com/open-source-usach/cursosusach-honojs-api"
        title="CursosUSACH"
        description="Mira qué opinan otros estudiantes acerca de ramos de la USACH."
      />
    </ul>
  </section>
	<div>
		<h2 class="text-neutral-200 font-bold text-lg mb-4">Como contribuir</h2>
		<p>Si quieres colaborar con nosotros manda un mensaje a <span class="bg-neutral-800 rounded px-1 py-0.5">Kappa🐸#1190</span> o <span class="bg-neutral-800 rounded px-1 py-0.5">René#0472</span> en Discord!</p>
	</div>
  <div class="my-4">
    <h2 class="text-neutral-200 font-bold text-lg">Miembros</h2>
    <div class="grid grid-cols-3 gap-4 my-4">
      {
        members.map((member) => (
          <a href={member.link} target="_blank" rel="noopener noreferrer" class="text-center space-y-2">
            <img src={`${member.link}.png`} alt={`Foto de ${member.name}`} />
            <p>{member.name}</p>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
