---
import Layout from "../layouts/Layout.astro";
import ProjectInDevelopment from "../components/ProjectInDevelopment.astro";
import Nav from "../components/Nav.astro";
import Link from "../components/Link";
import ActiveProject from "../components/ActiveProject";
import { developmentProjects, activeProjects } from "../projects";
---
<Layout title="Open Source USACH">
  <div class="mx-0 w-full px-8 pb-4 md:mx-auto md:px-20">
    <div
      class="mx-auto my-5 flex flex-col items-center justify-evenly md:flex-row"
    >
      <div class="text-center md:text-left">
        <h2 class="w-[480px] text-4xl font-semibold">
          Comunidad de estudiantes de la Universidad de Santiago de Chile
        </h2>
        <p>colaborando en proyectos open-source</p>
      </div>
      <div class="flex flex-col items-center">
        <p class="text-center text-xl font-semibold">¿Quiéres ser parte?</p>
        <a
          href="/unete"
          class="animate-bounce hover:animate-none motion-reduce:animate-none ease-in-out mt-2 link-hover link rounded-badge bg-secondary px-7 py-3 text-center text-6xl font-semibold text-secondary-content"
          >Únete</a
        >
      </div>
    </div>
    <section class="my-4">
      <h2 class="divider divider-neutral my-5 text-lg font-bold">
        Proyectos activos
      </h2>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
        {activeProjects.map((project) => <ActiveProject {...project} />)}
      </div>
    </section>
    <section class="my-4">
      <h2 class="divider divider-neutral my-5 text-lg font-bold">
        Estamos contruyendo
      </h2>
      <ul class="my-2 flex w-full flex-col gap-4">
        {
          developmentProjects.map((project) => (
            <ProjectInDevelopment {...project} />
          ))
        }
      </ul>
    </section>
  </div>
</Layout>
