---
import Layout from "../layouts/Layout.astro";
import ProjectInDevelopment from "../components/ProjectInDevelopment.astro";
import Nav from "../components/Nav.astro";
import Link from "../components/Link";
import ActiveProject from "../components/ActiveProject";
import { developmentProjects, activeProjects } from "../projects";
---

<Layout title="Open Source USACH">
  <div class="mx-0 w-full pb-4 md:mx-auto">
    <div
      class="mx-auto flex flex-col items-center justify-between pt-14 md:my-[6rem] md:flex-row md:pt-0"
    >
      <div class="text-center md:text-left">
        <h2 class="text-4xl font-semibold md:w-[25vw]">
          Comunidad de estudiantes de la Universidad de Santiago de Chile
        </h2>
        <p>colaborando en proyectos open-source</p>
      </div>
      <div class="mt-10 flex flex-col items-center md:mt-0">
        <p class="text-center text-xl font-semibold">¿Quieres ser parte?</p>
        <div
          class="link-hover link my-2 flex h-[8vh] w-[25vh] animate-bounce items-center justify-center rounded-badge bg-secondary ease-in-out hover:animate-none motion-reduce:animate-none"
        >
          <a
            href="/unete"
            class="text-center text-3xl font-semibold text-secondary-content"
            >Únete</a
          >
        </div>
      </div>
    </div>
    <section class="my-4">
      <h2 class="divider divider-neutral my-10 text-lg font-bold">
        Proyectos activos
      </h2>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
        {activeProjects.map((project) => <ActiveProject {...project} />)}
      </div>
    </section>
    <section class="my-4">
      <h2 class="divider divider-neutral my-10 text-lg font-bold">
        Estamos contruyendo
      </h2>
      <ul class="my-2 flex w-full flex-col gap-4">
        {
          developmentProjects.map((project) => (
            <ProjectInDevelopment {...project} />
          ))
        }
      </ul>
    </section>
  </div>
</Layout>
