---
import Layout from "../layouts/Layout.astro";

---

<Layout title='Página no encontrada'>
    <h1 class="text-neutral-200 font-bold text-4xl">
        Parece que nos perdimos :(
    </h1>
    <br>
    <p class = "text-neutral-200 text-xl" >
        Es muy probable que este proyecto aún esté en proceso de planeación, de lo contrario, quizás todavía no lo agregamos a la página. No te preocupes! Muy pronto estará disponible para que lo visites :)
    </p>

    <img src="https://i.imgur.com/v4PKpVf.png">

</Layout>