---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre Nosotros">
  <div class="flex h-full min-h-[70vh] flex-col justify-evenly">
    <div class="que-somos">
      <h1
        class="divider divider-neutral mb-5 text-center text-lg font-semibold sm:text-3xl"
      >
        Qué somos
      </h1>
      <p class="text-center sm:text-xl">
        Somos una comunidad de estudiantes de la Universidad de Santiago de
        Chile y colaboradores interesados, trabajando juntos en proyectos
        open-source.
      </p>
    </div>

    <div class="objetivos">
      <h1
        class="divider divider-neutral mb-5 text-center text-lg font-semibold sm:text-3xl"
      >
        Nuestros objetivos
      </h1>
      <p class="mb-3 text-center sm:text-xl">
        Desarrollar proyectos que ayuden y faciliten la vida de los estudiantes
      </p>
      <p class="mb-3 text-center sm:text-xl">
        Ayudar a los estudiantes y personas interesadas en el desarrollo de
        software a obtener experiencias más cercanas al mundo laboral
      </p>

      <p class="mb-3 text-center sm:text-xl">
        Experimentar con nuevas tecnologías, especialmente en una industria que
        evoluciona cada día.
      </p>
      <p class="mb-3 text-center sm:text-xl">
        Crear proyectos que ayuden a construir un portafolio sólido, y que
        logren demostrar las altas capacidades de sus autores
      </p>
    </div>
  </div>
</Layout>
