---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Sobre Nosotros">
    <h1>Quienes somos</h1>
    <p>Somos una comunidad de estudiantes y amigos de la Universidad de Santiago de Chile, colaborando en proyectos open-source! </p>
    <h1>Cuál es nuestro objetivo</h1>
    <p>Ayudar a otros estudiantes a obtener experiencia en el campo laboral</p>
    <p>Crear proyectos que ayuden a mejorar la calidad de vida de los estudiantes</p>
    <p>Experimentar con nuevas tecnologías</p>
    <p>Crear proyectos que ayuden a construir un portafolio sólido</p>
</Layout>