---
import TestLayout from "../layouts/TestLayout.astro";
---

<TestLayout title="Open Source USACH">
  <div class="text-main-white flex flex-row">
    <div class="flex w-1/2 flex-col gap-2">
      <h1 class="text-bold text-5xl">
        Comunidad de estudiantes de la Universidad de Santiago de Chile
      </h1>
      <h2 class="text-xl">colaborando en proyectos open source</h2>
      <!-- <div class="inline-block">
        <a href="/unete" class="border border-black p-4 text-xl">ÚNETE</a>
      </div> -->
      <div>
        <button
          class="text-main-white bg-main-cyan rounded px-14 py-4 text-xl"
          onclick=""
        >
          <a href="/unete">ÚNETE</a>
        </button>
      </div>
    </div>

    <div></div>
  </div>
</TestLayout>
