---
export interface Props {
	title: string;
	description: string;
	href: string;
}

const { href, title, description } = Astro.props;
---

<li class="hover:bg-neutral-800">
	<a class="p-2 flex flex-col" href={href}>
		<h2 class="text-neutral-200 font-semibold">
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{description}
		</p>
	</a>
</li>
