<footer
  class="bg-main-white footer p-4 text-footer-gray sm:justify-start lg:justify-center"
>
  <div class="flex w-full flex-col sm:flex-row 2xl:w-[70vw]">
    <div class="mr-10 flex flex-col gap-0 text-3xl font-black">
      <span>OPEN</span><span>SOURCE</span><span>USACH</span>
    </div>
    <nav class="mr-10 flex flex-col gap-0">
      <h6 class="text-xl">Contacto</h6>
      <div>
        <span class="icon-[heroicons--envelope]"></span>
        <a href="mailto:lucas.mesias@usach.cl" class="link-hover link"
          >lucas.mesias@usach.cl</a
        >
      </div>
      <div>
        <span class="icon-[heroicons--envelope]"></span>
        <a href="mailto:ignacio.lara.v@usach.cl" class="link-hover link"
          >ignacio.lara.v@usach.cl</a
        >
      </div>
    </nav>
    <nav class="mr-10 flex flex-col gap-0">
      <h6 class="text-xl">Desarrolladores</h6>
      <a href="https://github.com/Skyrdow/" class="link-hover link"
        >Lucas Mesías</a
      >
      <a href="https://github.com/panquequelol/" class="link-hover"
        >René Cáceres</a
      >
      <a href="https://github.com/kappita/" class="link-hover link"
        >Ignacio Lara</a
      >
    </nav>
  </div>
</footer>
