<nav
  class="navbar relative flex-row justify-between bg-primary font-bold text-primary-content"
>
  <div class="flex flex-nowrap text-nowrap md:navbar-start items-center">
    <img class="size-14 md:size-20" src="./logo.png" alt="Logo" />
    <h1 class="self-center text-xl md:px-3 md:text-3xl">Open Source USACH</h1>
  </div>
  <div class="navbar-end mr-5 hidden gap-5 md:flex">
    <a href="/">Inicio</a>
    <a href="/sobre-nosotros">Sobre nosotros</a>
    <a href="/contribuidores">Contribuidores</a>
  </div>

  <div class="dropdown dropdown-bottom dropdown-end md:hidden">
    <div tabindex="0" role="button" class="inline-flex size-8 align-middle"><span class=" icon-[mdi--menu] size-8 p-0 text-primary-content"></span></div>
    <ul
      tabindex="0"
      class="fixed menu dropdown-content z-[20] w-screen rounded-none bg-base-300 mt-4 -mr-2 shadow"
    >
      <li class="text-base-content">
        <a href="/">Inicio</a>
      </li>
      <li class="text-base-content">
        <a href="/sobre-nosotros">Sobre nosotros</a>
      </li>
      <li class="text-base-content">
        <a href="/contribuidores">Contribuidores</a>
      </li>
    </ul>
  </div>
</nav>
