<nav
  class="navbar relative flex-row justify-between bg-primary font-bold text-primary-content md:justify-center"
>
  <div class="flex w-[100vw] md:justify-around 2xl:w-[55vw]">
    <div class="flex flex-nowrap items-center text-nowrap md:navbar-start">
      <img class="size-14 md:size-20" src="./logo.svg" alt="Logo" />
      <h1 class="self-center text-xl md:px-3 lg:text-4xl">Open Source USACH</h1>
    </div>
    <div class="navbar-end mr-5 hidden gap-5 md:flex">
      <a class="md:text-lg" href="/">Inicio</a>
      <a class="md:text-lg" href="/sobre-nosotros">Sobre nosotros</a>
      <a class="md:text-lg" href="/contribuidores">Contribuidores</a>
    </div>
  </div>

  <div class="dropdown dropdown-end dropdown-bottom md:hidden">
    <div tabindex="0" role="button" class="inline-flex size-8 align-middle">
      <span class="icon-[mdi--menu] size-8 p-0 text-primary-content"></span>
    </div>
    <ul
      tabindex="0"
      class="menu dropdown-content fixed z-[20] -mr-2 mt-4 w-screen rounded-none bg-base-300 shadow"
    >
      <li class="text-base-content">
        <a href="/">Inicio</a>
      </li>
      <li class="text-base-content">
        <a href="/sobre-nosotros">Sobre nosotros</a>
      </li>
      <li class="text-base-content">
        <a href="/contribuidores">Contribuidores</a>
      </li>
    </ul>
  </div>
</nav>
