<nav>
  <div
    class="navbar flex-col bg-primary font-bold text-primary-content md:flex-row"
  >
    <a href="/" class="flex flex-nowrap text-nowrap md:navbar-start">
      <img class="h-20 w-20" src="./logo.png" alt="Logo" />
      <h1 class="self-center px-3 text-3xl">Open Source USACH</h1>
    </a>
    <div class="flex gap-5 text-nowrap md:navbar-end">
      <a href="/sobre-nosotros">Sobre nosotros</a>
      <a href="/contacto">Contacto</a>
      <a href="/contribuidores">Contribuidores</a>
    </div>
  </div>
</nav>
