<nav class="text-main-white navbar justify-center">
  <div
    class="flex w-[100vw] justify-between text-white md:justify-around 2xl:w-[70vw]"
  >
    <div
      class="flex flex-nowrap items-center gap-4 text-nowrap md:navbar-start"
    >
      <img class="size-14 md:size-20" src="./logo.svg" alt="Logo" />
      <h1 class="text-3xl">Open Source USACH</h1>
    </div>
    <div class="navbar-end hidden gap-5 md:flex">
      <a href="/">Inicio</a>
      <a href="/sobre-nosotros">Sobre Nosotros</a>
      <a href="/contribuidores">Colaboradores</a>
      <a href="">Propuestas</a>
      <a href="">Proyectos</a>
      <a href="">Únete</a>
    </div>
  </div>
</nav>
