---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
    </GoogleFontsOptimizer>
	<meta name="description" content="Community of students from the University of Santiago, Chile working together to create projects for the university community and more!">
	<meta name="twitter:image:src" content="https://i.imgur.com/ZJioXLr.png">
	<meta name="twitter:site" content="@OpenSourceUSACH">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Open Source USACH">
	<meta name="twitter:description" content="Community of students from the University of Santiago, Chile working together to create projects for the university community and more!">
	<meta property="og:image" content="https://i.imgur.com/ZJioXLr.png">
	<meta property="og:image:alt" content="Community of students from the University of Santiago, Chile working together to create projects for the university community and more!">
	<meta property="og:site_name" content="Open Source USACH">
	<meta property="og:type" content="object">
	<meta property="og:title" content="Open Source USACH">
	<meta property="og:url" content="https://www.opensourceusach.org/">
	<meta property="og:description" content="Community of students from the University of Santiago, Chile working together to create projects for the university community and more!">
	</head>
	<body class="bg-neutral-900 text-neutral-400">

		<main class="max-w-gitxl mx-auto px-4 pb-4">
			<slot />
		</main>
	</body>
	<style is:global>
		* {
			font-family: 'Inter', sans-serif;
		}
	</style>
</html>
